<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-hide-sm-down_">
      <ion-button color="dark" class="ion-hide-sm-down"> {{'Select order' | translate}} </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-buttons style="justify-content: flex-end;">
        <span>{{'Vendor'|translate}}</span> &nbsp;
        <div class="c-control"  style="margin-bottom:0px;max-width:250px;min-width:250px;">
        <app-input-control
        [field]="{ id:'IDVendor',label:'Vendor',type:'ng-select-bp',
        dataSource:_vendorDataSource,bindLabel:'Name',bindValue:'Id', placeholder:'Search',
        form:formGroup}"(change)="changeVendor($event)">
      </app-input-control>
    </div>
      </ion-buttons>
    
     
      <span class="split ion-hide-sm-down">|</span>

      <ion-button
        [disabled]="selectedItems.length==0"
        fill="solid"
        size="small"
        color="primary"
        (click)="submit()"
      >
        &nbsp;{{'Add' | translate}} {{selectedItems.length}} {{'Order' | translate}}&nbsp;
      </ion-button>

      <ion-button (click)="refresh()" title="{{'Refresh' | translate}}">
        <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
      </ion-button>

      <ion-button title="{{'Help' | translate}}" (click)="help()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>

      <ion-button title="{{'Close' | translate}}" color="secondary" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <section class="table">
    <app-data-table class="box-shadow responsive"  [rows]="orderLines" [(selectedRows)]="selectedItems"
    (filter)="onDatatableFilter($event)"
    (sort)="onSort($event)" 
    [(query)]="query"
    (activate)="changeSelection($event)"
    (dataInfinite)="loadData($event)"
		[showFilter]="pageConfig.isShowSearch"
    [showSpinner]="pageConfig.showSpinner" >
      <datatable-column [checkbox]="true" property="checked">
        <ng-template datatable-header-template>
        <input class="c-checkbox" type="checkbox" (change)="toggleSelectAll()" [checked]="isAllSelected">
        
        </ng-template>
        <ng-template let-i="row" datatable-cell-template>
          <input class="c-checkbox" type="checkbox" [disabled]="i.disabled" (change)="changeSelection(i)" [checked]="i.checked">

        </ng-template>
      </datatable-column>
      <datatable-column class="col-id" name="IDItem" property="IDItem">
        <ng-template let-i="row" datatable-cell-template>
          <a [routerLink]="['/item/'+i.IDItem]" >
           {{i.IDItem}}
          </a >
        </ng-template>
      </datatable-column>
      <datatable-column class="col-name" name="Name" property="IDItem">
        <ng-template let-i="row" datatable-cell-template>
           <span *ngIf="i._Item?.Code">{{i._Item?.Code}} - </span>{{i._Item.Name}}
        </ng-template>
        </datatable-column>
        <datatable-column class="col-name" name="UoM" property="UoMName">
          </datatable-column>

        <datatable-column class="col-qty" name="Quantity" property="Quantity">
        
          </datatable-column>
        </app-data-table>