<ion-header collapse="fade">
	<ion-toolbar>
		<ion-title>{{item?.Name}}</ion-title>

		<ion-buttons slot="primary">
			<ion-button title="{{'Close' | translate}}" color="secondary" (click)="closeModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding">
	<form [formGroup]="formGroup">
		<ion-grid fixed>
			<ion-row>
				<ion-col>
					<app-form-control
						*ngIf="!isOpenFromOtherPage"
						[field]="{id:'IDItem', label: 'Item', type : 'ng-select-item', dataSource: _itemDataSource, bindLabel: 'Name', bindValue: 'Id', form: formGroup
						}"
					></app-form-control>
					<app-form-control
						[field]="{id:'IDVendor', label: 'Vendor', type : 'ng-select-bp', dataSource: _vendorDataSource, bindLabel: 'Name', bindValue: 'Id', form: formGroup
						}"
					></app-form-control>
					<app-form-control [field]="{id:'OrderInterval', label: 'Order interval', type : 'text', form: formGroup}"></app-form-control>
					<app-form-control [field]="{id:'OrderMultiple', label: 'Order multiple', type : 'number', form: formGroup }"></app-form-control>
				</ion-col>
				<ion-col>
					<app-form-control [field]="{id:'MinimumOrderQty', label: 'Minimum order qty', type : 'number', form: formGroup }"></app-form-control>
					<app-form-control [field]="{id:'LeadTime', label: 'Lead time', type : 'number', form: formGroup }"></app-form-control>
					<app-form-control [field]="{id:'ToleranceDays', label: 'Tolerance days', type : 'number', form: formGroup }"></app-form-control>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<app-form-control [field]="{id:'Remark', label:'Remark', type : 'textarea', form : formGroup }"></app-form-control>

					<!-- <app-form-control [field]="{id:'Sort', label:'Sort', type : 'number', form : formGroup }" (change)="saveChange()"></app-form-control> -->
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>
<ion-footer collapse="fade">
	<ion-toolbar>
		<div slot="start">
			<ion-button fill="outline" *ngIf="item.Id && pageConfig.canDelete" (click)="delete()" color="danger"> {{'Delete' | translate}} </ion-button>
		</div>

		<div slot="end">
			<ion-button fill="outline" *ngIf="!item.Id" color="warning" (click)="closeModal()"> {{'Cancel' | translate}} </ion-button>
			<ion-button fill="outline" *ngIf="item.Id && pageConfig.canEdit" (click)="refresh()" color="warning" [disabled]="!formGroup.dirty">
				{{'Discard changes' | translate}}
			</ion-button>
			<ion-button [strong]="true" *ngIf="(pageConfig.canAdd || pageConfig.canEdit)" (click)="saveChange()" [disabled]="!formGroup.dirty"> {{'Save' | translate}} </ion-button>
		</div>
	</ion-toolbar>
</ion-footer>
