<ion-header>
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content  appScrollbarTheme class="scrollx">
	<app-page-title class="ion-padding safe-max-width" [pageConfig]="pageConfig"></app-page-title>
	
	<div class="safe-max-width">
		<app-data-table
			class="box-shadow responsive"
			[rows]="items"
			[trackBy]="'Id'"
			[(selectedRows)]="selectedItems"
			[showSpinner]="pageConfig.showSpinner"
			[showFilter]="pageConfig.isShowSearch"
			[(query)]="query"
			(dataInfinite)="loadData($event)"
			(filter)="onDatatableFilter($event)"
			(sort)="onSort($event)"
		>
			<datatable-column [checkbox]="true"></datatable-column>

			<datatable-column class="col-id clickable" name="#" property="Id">
				<ng-template let-i="row" datatable-cell-template>
					<span (click)="showModal(i)">{{i?.Id}}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-code" name="Code" property="Code"></datatable-column>
			<datatable-column class="col-name clickable" name="Name" property="Name">
				<ng-template let-i="row" datatable-cell-template>
					<span class="bold" (click)="showModal(i)">{{i?.Name}}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-code" name="Type" property="Type"></datatable-column>
			<datatable-column class="col-number bold" format="1.0-0" name="Value" property="Value"></datatable-column>
		</app-data-table>
	</div>

	<div class="ion-padding"></div>
	<ion-infinite-scroll color="primary" threshold="30%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
