<ion-header collapse="fade">
	<ion-toolbar>
		<ion-title>{{item?.Name}}</ion-title>

		<ion-buttons slot="primary">
			<ion-button title="{{'Close' | translate}}" color="secondary" (click)="closeModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding">
	<div id="detail-page" style="position: absolute"></div>
	<form [formGroup]="formGroup">
		<ion-grid fixed>
			<ion-row>
				<ion-col>
					<app-form-control [field]="{id:'Name', label: 'Name', type : 'text', form: formGroup}" (change)="changeName()"></app-form-control>
					<app-form-control [field]="{id:'Code', label: 'Code', type : 'text', form: formGroup}"></app-form-control>
					<app-form-control
						[field]="{id:'Type', label: 'Type', type : 'ng-select', dataSource: typeDataSource, bindLabel:'Name', bindValue:'Code', form : formGroup }"
						(change)="onTypeChange(true)"
					></app-form-control>
					<app-form-control [field]="{id:'StartDate', label:'Start', type:'datetime-local', form: formGroup}"></app-form-control>
					<app-form-control [field]="{id:'EndDate', label:'End', type:'datetime-local', form: formGroup}"></app-form-control>
					<ng-container [ngSwitch]="formGroup.get('Type')?.value">
						<ng-container *ngSwitchCase="'Daily'">
							<app-form-control [field]="{id:'Value', label:'Recur every (per day)', type:'number', form:formGroup}"></app-form-control>
						</ng-container>
						<ng-container *ngSwitchCase="'Weekly'">
							<app-form-control [field]="{id:'Value', label:'Recur every (per week)', type:'number', form:formGroup}"></app-form-control>
							<div class="c-control">
								<label class="c-label" for="WeeklyDays"
									>{{'Days of week' | translate}}
									<span
										*ngIf="!formGroup.controls.WeeklyDays.valid && !formGroup.controls.WeeklyDays.pending && (formGroup.controls.WeeklyDays.dirty || submitAttempt)"
										ion-text
										color="danger"
										>(*)</span
									>
								</label>
								<ng-select
									class="c-input"
									labelForId="WeeklyDays"
									formControlName="WeeklyDays"
									groupBy="Group"
									[selectableGroup]="true"
									[selectableGroupAsModel]="false"
									[closeOnSelect]="false"
									[items]="weekDayDataSource"
									bindLabel="Name"
									bindValue="Code"
									[multiple]="true"
									placeholder="{{'Select weekdays' | translate}}"
								>
									<ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
										<input id="WeeklyDays-group-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}" />
										{{'All' | translate}}
									</ng-template>
									<ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
										<input id="WeeklyDays-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}" />
										{{item.Name}}
									</ng-template>
								</ng-select>
							</div>
						</ng-container>
						<ng-container *ngSwitchCase="'Monthly'">
							<div class="c-control">
								<label class="c-label" for="MonthlyMonths"
									>{{'Months' | translate}}
									<span
										*ngIf="!formGroup.controls.MonthlyMonths.valid && !formGroup.controls.MonthlyMonths.pending && (formGroup.controls.MonthlyMonths.dirty || submitAttempt)"
										ion-text
										color="danger"
										>(*)</span
									>
								</label>
								<ng-select
									class="c-input"
									labelForId="MonthlyMonths"
									formControlName="MonthlyMonths"
									groupBy="Group"
									[selectableGroup]="true"
									[selectableGroupAsModel]="false"
									[closeOnSelect]="false"
									[items]="monthDataSource"
									bindLabel="Name"
									bindValue="Code"
									[multiple]="true"
									placeholder="{{'Select months' | translate}}"
								>
									<ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
										<input id="MonthlyMonths-group-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}" />
										{{'All' | translate}}
									</ng-template>
									<ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
										<input id="MonthlyMonths-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}" />
										{{item.Name}}
									</ng-template>
								</ng-select>
							</div>
							<app-form-control
								[field]="{id:'MonthlyMethod', label:'Monthly method', type:'ng-select', dataSource: monthlyMethodDataSource, bindLabel:'Name', bindValue:'Code', form:formGroup}"
								(change)="onMonthlyMethodChange(true)"
							></app-form-control>
							<ng-container [ngSwitch]="formGroup.get('MonthlyMethod')?.value">
								<div class="c-control" *ngSwitchCase="0">
									<label class="c-label" for="MonthlyDays"
										>{{'Days' | translate}}
										<span
											*ngIf="!formGroup.controls.MonthlyDays.valid && !formGroup.controls.MonthlyDays.pending && (formGroup.controls.MonthlyDays.dirty || submitAttempt)"
											ion-text
											color="danger"
											>(*)</span
										>
									</label>
									<ng-select
										class="c-input"
										labelForId="MonthlyDays"
										formControlName="MonthlyDays"
										groupBy="Group"
										[selectableGroup]="true"
										[selectableGroupAsModel]="false"
										[closeOnSelect]="false"
										[items]="monthlyDayDataSource"
										bindLabel="Name"
										bindValue="Code"
										[multiple]="true"
										placeholder="{{'Select days' | translate}}"
									>
										<ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
											<input id="MonthlyDays-group-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}" />
											{{'All' | translate}}
										</ng-template>
										<ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
											<input id="MonthlyDays-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}" />
											{{item.Name}}
										</ng-template>
									</ng-select>
								</div>
								<ng-container *ngSwitchCase="1">
									<div class="c-control">
										<label class="c-label" for="MonthlyWeeks"
											>{{'Weeks in month' | translate}}
											<span
												*ngIf="!formGroup.controls.MonthlyWeeks.valid && !formGroup.controls.MonthlyWeeks.pending && (formGroup.controls.MonthlyWeeks.dirty || submitAttempt)"
												ion-text
												color="danger"
												>(*)</span
											>
										</label>
										<ng-select
											class="c-input"
											labelForId="MonthlyWeeks"
											formControlName="MonthlyWeeks"
											groupBy="Group"
											[selectableGroup]="true"
											[selectableGroupAsModel]="false"
											[closeOnSelect]="false"
											[items]="monthlyWeekDataSource"
											bindLabel="Name"
											bindValue="Code"
											[multiple]="true"
											placeholder="{{'Select weeks' | translate}}"
										>
											<ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
												<input id="MonthlyWeeks-group-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}" />
												{{'All' | translate}}
											</ng-template>
											<ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
												<input id="MonthlyWeeks-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}" />
												{{item.Name}}
											</ng-template>
										</ng-select>
									</div>
									<div class="c-control">
										<label class="c-label" for="MonthlyWeekDays"
											>{{'Weekdays' | translate}}
											<span
												*ngIf="!formGroup.controls.MonthlyWeekDays.valid && !formGroup.controls.MonthlyWeekDays.pending && (formGroup.controls.MonthlyWeekDays.dirty || submitAttempt)"
												ion-text
												color="danger"
												>(*)</span
											>
										</label>
										<ng-select
											class="c-input"
											labelForId="MonthlyWeekDays"
											formControlName="MonthlyWeekDays"
											groupBy="Group"
											[selectableGroup]="true"
											[selectableGroupAsModel]="false"
											[closeOnSelect]="false"
											[items]="weekDayDataSource"
											bindLabel="Name"
											bindValue="Code"
											[multiple]="true"
											placeholder="{{'Select weekdays' | translate}}"
										>
											<ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
												<input id="MonthlyWeekDays-group-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}" />
												{{'All' | translate}}
											</ng-template>
											<ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
												<input id="MonthlyWeekDays-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}" />
												{{item.Name}}
											</ng-template>
										</ng-select>
									</div>
								</ng-container>
							</ng-container>
						</ng-container>
					</ng-container>
					<app-form-control [field]="{ id: 'Remark', label: 'Remark', type: 'textarea', form: formGroup }"></app-form-control>
				</ion-col>
				
			</ion-row>
			<ion-row>
				<ion-col *ngIf="item.Id">
					<app-form-control [field]="{id: 'CreatedBy', type: 'text', label: 'Created by', form: formGroup }"></app-form-control>
					<app-form-control [field]="{id: 'CreatedDate', type: 'span-datetime', label: 'Created date', form: formGroup }"></app-form-control>
					<app-form-control [field]="{id: 'ModifiedBy', type: 'text', label: 'Last modified by', form: formGroup }"></app-form-control>
					<app-form-control [field]="{id: 'ModifiedDate', type: 'span-datetime', label: 'Last modified date', form: formGroup }"></app-form-control>
				</ion-col>
				
			</ion-row>
		</ion-grid>
	</form>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
<ion-footer collapse="fade">
	<ion-toolbar>
		<div slot="start">
			<ion-button fill="outline" *ngIf="item.Id && pageConfig.canDelete" (click)="delete()" color="danger"> {{'Delete' | translate}} </ion-button>
		</div>

		<div slot="end">
			<ion-button fill="outline" *ngIf="!item.Id" color="warning" (click)="closeModal()"> {{'Cancel' | translate}} </ion-button>
			<ion-button fill="outline" *ngIf="item.Id && pageConfig.canEdit" (click)="refresh()" color="warning" [disabled]="!formGroup.dirty">
				{{'Discard changes' | translate}}
			</ion-button>
			<ion-button [strong]="true" *ngIf="(pageConfig.canAdd || pageConfig.canEdit)" (click)="saveChange()" [disabled]="!formGroup.dirty">
				{{'Save' | translate}}
			</ion-button>
		</div>
	</ion-toolbar>
</ion-footer>
