<ion-header>
	<ion-toolbar>
		<ion-title> {{'Copy to goods receipt'| translate}}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="closeModal()">
				<ion-icon name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="header-table">
	<app-data-table
		class="box-shadow responsive"
		[rows]="item.OrderLines"
		[trackBy]="'IDItem'"
		[showSpinner]="pageConfig.showSpinner"
		[showFilter]="pageConfig.isShowSearch"
		[(query)]="query"
	>
		<datatable-column class="col-name" name="Item" property="IDItem">
			<ng-template let-i="row" datatable-cell-template>
				<app-input-control
					[field]="{id:'IDItem', label: 'Item', type : 'ng-select-item', form : i._formGroup,  dataSource: _IDItemDataSource,   bindLabel: 'Name', bindValue: 'Id', clearable: true, placeholder: 'Type to search...' }"
				></app-input-control>
			</ng-template>
		</datatable-column>
		<datatable-column class="col-uom" name="Unit" property="IDUoM">
			<ng-template let-i="row" datatable-cell-template>
				<app-input-control
					[field]="{
        id: 'IDUoM',
        type: 'ng-select',
        form: i._formGroup,
        dataSource: i._formGroup.controls._IDUoMDataSource.value,
        bindLabel: 'Name',
        bindValue: 'Id',
      }"
				></app-input-control>

				<!-- appendTo: '#ng-select-table' -->
			</ng-template>
		</datatable-column>
		<datatable-column class="col-number" name="Quantity" property="UoMQuantityExpected">
			<ng-template let-i="row" datatable-cell-template>
				<app-input-control
					[field]="{
        id: 'UoMQuantityExpected',
        type: 'number',
        form: i._formGroup,
      }"
				></app-input-control>
			</ng-template>
		</datatable-column>
		<datatable-column class="col-number" name="Quantity received" property="QuantityReceived">
			<ng-template let-i="row" datatable-cell-template>
				<app-input-control
					[field]="{
      id: 'QuantityReceived',
      type: 'number',
      form: i._formGroup,
    }"
				></app-input-control>
			</ng-template>
		</datatable-column>

		<datatable-column class="col-name" name="Quantity import" property="QuantityImport">
			<ng-template datatable-header-template>
				<span>{{'Quantity import'|| translate}}</span>
				<ion-icon
					*ngIf="showButtonSave"
					(click)="toggleAllShippedQty()"
					[color]="item._IsShippedAll? 'danger': 'success'"
					[name]="item._IsShippedAll? 'remove-circle-outline': 'checkmark-done-circle-outline' "
				></ion-icon>
			</ng-template>
			<ng-template let-i="row" datatable-cell-template>
				<app-input-control
					[field]="{
            id: 'QuantityImport',
            type: 'number',
            form: i._formGroup,
            }"
					(change)="qtyImportedChange(i._formGroup)"
				></app-input-control>
				<ion-icon
					*ngIf="(i._formGroup.controls.UoMQuantityExpected.value - i._formGroup.controls.QuantityReceived.value) != 0 "
					(click)="toggleShippedQty(i._formGroup)"
					[color]="i._formGroup.controls.UoMQuantityExpected.value == i._formGroup.controls.QuantityImport.value ? 'danger' : 'primary'"
					class="min-btn"
					[name]="i._formGroup.controls.UoMQuantityExpected.value == i._formGroup.controls.QuantityImport.value ? 'remove-circle-outline' : 'checkmark-circle-outline'"
				></ion-icon>
			</ng-template>
		</datatable-column>

		<datatable-column class="col-uom" name="LOT/Batch" property="IDItem">
			<ng-template let-i="row" datatable-cell-template>
				<app-input-control
					[field]="{
            id: 'Lottable0',
            type: 'text',
            form: i._formGroup,
            }"
				></app-input-control>
			</ng-template>
		</datatable-column>

		<datatable-column class="col-date" name="Manufacture date" property="IDItem">
			<ng-template let-i="row" datatable-cell-template>
				<app-input-control
					[field]="{
          id: 'Lottable5',
          type: 'date',
          form: i._formGroup,
          }"
				></app-input-control>
			</ng-template>
		</datatable-column>

		<datatable-column class="col-date" name="Expiration date" property="IDItem">
			<ng-template let-i="row" datatable-cell-template>
				<app-input-control
					[field]="{
        id: 'Lottable6',
        type: 'date',
        form: i._formGroup,
        }"
				></app-input-control
			></ng-template>
		</datatable-column>
	</app-data-table>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-button *ngIf="showButtonSave" size="large" slot="end" (click)="submitForm()">{{'Save' | translate}}</ion-button>
		<ion-title *ngIf="!showButtonSave">
			<ion-chip>
				<ion-icon name="alert-circle-outline" color="warning"> </ion-icon>
				<ion-label
					>{{'PO has been entered into the warehouse. See more at ASN:' | translate}}
					<ng-container *ngFor="let r of listIDASN">
						<a href="/#/receipt/{{r}}" class="clickable" (click)="nav('/receipt/' + r);modalController.dismiss(null)" (mousedown)="$event.stopPropagation()"
							>#{{ r }}
						</a>
					</ng-container>
				</ion-label>
			</ion-chip>
		</ion-title>
	</ion-toolbar>
</ion-footer>
