<ion-header>
  <ion-toolbar>
    <ion-title> {{'Copy to purchase order'| translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-buttons *ngIf="TotalAfterTax != 0">
          {{'Total:' | translate}}
          <span>{{TotalAfterTax | number}}</span>
      </ion-buttons>
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="header-table">
  <app-data-table
    class="box-shadow responsive"
    [rows]="item.QuotationLines"
    [trackBy]="'IDItem'"
    [showSpinner]="pageConfig.showSpinner"
    [showFilter]="pageConfig.isShowSearch"
    [(query)]="query"
  >
    <datatable-column class="col-name" name="Item" property="IDItem">
      <ng-template let-i="row" datatable-cell-template>
        <app-input-control
          [field]="{id:'IDItem', label: 'Item', type : 'ng-select-item', form : i._formGroup,  dataSource: _IDItemDataSource,   bindLabel: 'Name', bindValue: 'Id', clearable: true, placeholder: 'Type to search...' }"
        ></app-input-control>
      </ng-template>
    </datatable-column>
    <datatable-column class="col-uom" name="Unit" property="IDItemUoM">
      <ng-template let-i="row" datatable-cell-template>
        <app-input-control
          [field]="{
        id: 'IDItemUoM',
        type: 'ng-select',
        form: i._formGroup,
        dataSource: i._formGroup.controls._IDUoMDataSource.value,
        bindLabel: 'Name',
        bindValue: 'Id',
      }"
        ></app-input-control>

        <!-- appendTo: '#ng-select-table' -->
      </ng-template>
    </datatable-column>
    <datatable-column class="col-number" name="Quantity" property="Quantity">
      <ng-template let-i="row" datatable-cell-template>
        <app-input-control
          [field]="{
        id: 'Quantity',
        type: 'number',
        form: i._formGroup,
      }"
        ></app-input-control>
      </ng-template>
    </datatable-column>

    <datatable-column class="col-number" name="Quantity remaining open" property="QuantityRemainingOpen">
      <ng-template let-i="row" datatable-cell-template>
        <app-input-control
          [field]="{
        id: 'QuantityRemainingOpen',
        type: 'number',
        form: i._formGroup,
      }"
        ></app-input-control>
      </ng-template>
    </datatable-column>
    <datatable-column class="col-name" name="UoM quantity expected" property="UoMQuantityExpected">
      <ng-template datatable-header-template>
        <span>{{'UoM quantity expected'|| translate}}</span>

        <!-- *ngIf="showButtonSave" -->
        <ion-icon
          (click)="toggleAllUoMQtyExpected()"
          [color]="item._IsShippedAll? 'danger': 'success'"
          [name]="item._IsShippedAll? 'remove-circle-outline': 'checkmark-done-circle-outline' "
        ></ion-icon>
      </ng-template>
      <ng-template let-i="row" datatable-cell-template>
        <app-input-control
          [field]="{
            id: 'UoMQuantityExpected',
            type: 'number',
            form: i._formGroup,
            }"
          (change)="calcTotalAfterTax(i._formGroup)"
        ></app-input-control>
        <ion-icon
          *ngIf="i._formGroup.controls.QuantityRemainingOpen.value != 0 "
          (click)="toggleUoMQtyExpected(i._formGroup)"
          [color]="i._formGroup.controls.UoMQuantityExpected.value == i._formGroup.controls.QuantityRemainingOpen.value ? 'danger' : 'primary'"
          class="min-btn"
          [name]="i._formGroup.controls.UoMQuantityExpected.value == i._formGroup.controls.QuantityRemainingOpen.value ? 'remove-circle-outline' : 'checkmark-circle-outline'"
        ></ion-icon>
      </ng-template>
    </datatable-column>
    <datatable-column class="col-price" name="Discount" property="TotalDiscount">
      <ng-template let-i="row" datatable-cell-template>
        <app-input-control
          [field]="{
        id: 'Discount',
        type: 'number',
        form: i._formGroup,
      }"
        ></app-input-control>
      </ng-template>
    </datatable-column>

    <datatable-column class="col-price" name="Price" property="Price">
      <ng-template let-i="row" datatable-cell-template>
        <app-input-control
          [field]="{
        id: 'Price',
        type: 'number',
        form: i._formGroup,
      }"
        ></app-input-control>
      </ng-template>
    </datatable-column>

    <datatable-column class="col-price" name="%VAT" property="TaxRate">
      <ng-template let-i="row" datatable-cell-template>
        <app-input-control
          [field]="{
        id: 'TaxRate',
        type: 'number',
        form: i._formGroup,
      }"
        ></app-input-control>
      </ng-template>
    </datatable-column>

    <datatable-column class="col-price" name="Amount" property="TotalAfterTax">
      <ng-template let-i="row" datatable-cell-template>
        <app-input-control
          [field]="{
        id: 'Total',
        type: 'number',
        form: i._formGroup,
      }"
        ></app-input-control>
      </ng-template>
    </datatable-column>
  </app-data-table>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <!-- *ngIf="showButtonSave" -->
    <ion-button size="large" slot="end" (click)="submitForm()">{{'Save' | translate}}</ion-button>
    <!-- <ion-title *ngIf="!showButtonSave">
      <ion-chip>
        <ion-icon name="alert-circle-outline" color="warning"> </ion-icon>
        <ion-label>{{'PO has been entered into the warehouse. See more at ASN:' | translate}} 
          <ng-container *ngFor="let r of listIDASN" >
            <a
            href="/#/receipt/{{r}}"
            class="clickable"
            (click)="nav('/receipt/' + r);modalController.dismiss(null)"
            (mousedown)="$event.stopPropagation()"
            >#{{ r }} </a>
          </ng-container>
          
        </ion-label>
      </ion-chip>
    </ion-title> -->
  </ion-toolbar>
</ion-footer>
