<ion-header>
	<app-toolbar [page]="this">
		<ng-container
			*ngIf="
		(pageConfig.ShowCopyToPurchaseQuotation && pageConfig.canCopyToPurchaseQuotation && formGroup.get('ContentType').value != 'Service') 
		||(pageConfig.canCopyToPO && pageConfig.ShowCopyToPO && formGroup.get('ContentType').value != 'Service')"
		>
			<ion-button class="clickable" title="{{'Copy' | translate}}" (click)="presentCopyPopover($event)">
				<ion-icon name="copy-outline" color="success" slot="icon-only"></ion-icon>
			</ion-button>
			<span class="split">|</span>
		</ng-container>
		<ion-popover #copyPopover [isOpen]="isOpenCopyPopover" (didDismiss)="isOpenCopyPopover = false">
			<ng-template>
				<ion-content scroll-y="false">
					<ion-list lines="none">
						<ion-item
							*ngIf="pageConfig.ShowCopyToPurchaseQuotation && pageConfig.canCopyToPurchaseQuotation && formGroup.get('ContentType').value != 'Service'"
							[button]="true"
							[detail]="false"
							(click)="sendRequestQuotationToVendor()"
							title="{{'Copy to purchase quotation' | translate}}"
						>
							<ion-icon name="quotation" color="success" slot="start"></ion-icon>
							<ion-label> {{'Copy to purchase quotation' | translate}}</ion-label>
						</ion-item>

						<ion-item
							title="{{'Copy to purchase order' | translate}}"
							*ngIf="pageConfig.canCopyToPO && pageConfig.ShowCopyToPO && formGroup.get('ContentType').value != 'Service'"
							[button]="true"
							[detail]="false"
							(click)="copyToPO()"
						>
							<ion-icon name="clipboard-list" color="success" slot="start"></ion-icon>
							<ion-label>{{'Copy to purchase order' | translate}}</ion-label>
						</ion-item>
					</ion-list>
				</ion-content>
			</ng-template>
		</ion-popover>
	</app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div id="ng-select-header" style="position: absolute; z-index: 30005"></div>
	<div id="ng-select-table" style="position: absolute; z-index: 30005"></div>

	<div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
		<ion-grid fixed>
			<form [formGroup]="formGroup">
				<ion-row class="hr-group">
					<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Purchase request' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control
							[field]="{branchConfig: {showingType: 'ne_[Warehouse,TitlePosition]', selectedBranch: selectedRequestBranch}, id: 'IDRequestBranch', label: 'Department requires purchasing', type: 'ng-select-branch', form: formGroup, dataSource: branchList, bindLabel: 'Name', bindValue: 'Id' }"
							(change)="saveChange()"
						></app-form-control>

						<app-form-control
							[clearable]="true"
							[field]="{id: 'IDRequester', label: 'Requester', type: 'ng-select-staff', form: formGroup, dataSource: _staffDataSource, bindLabel: 'FullName', bindValue: 'Id' }"
							(change)="saveChange()"
						></app-form-control>

						<app-form-control (change)="saveChange();" [field]="{id: 'Name', type: 'text', label: 'Title', form: formGroup}"></app-form-control>
						
						<app-form-control
							[field]="{id: 'IDVendor', label: 'Vendor', type: 'ng-select-bp', form: formGroup, dataSource: _vendorDataSource, bindLabel: 'Name', bindValue: 'Id', placeholder: 'Type to search...', clearable: true, appendTo: '#ng-select-header' }"
							(change)="changeVendor($event)"
						></app-form-control>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control
							(change)="saveChange();"
							[field]="{id: 'Status', label: 'Status', type: 'ng-select-status', dataSource: statusList, bindLabel: 'Name', bindValue: 'Code', form: formGroup}"
						></app-form-control>

						<app-form-control [field]="{id: 'TotalAfterTax', label: 'Total', type: 'span-text', form: formGroup}">
							<ng-template input-control-template>
								<b>{{calcTotalAfterTax() | number: '1.0-0'}}</b>
							</ng-template>
						</app-form-control>

						<app-form-control
							[field]="{id: 'RequiredDate', label: 'Required date', type: 'datetime-local', form: formGroup}"
							(change)="changeRequiredDate($event)"
						></app-form-control>

						<app-form-control
							[field]="{id: 'ContentType', label: 'Content type', type: 'ng-select', dataSource: contentTypeList, bindLabel: 'Name', bindValue: 'Code', form: formGroup}"
							(change)="changeContentType($event)"
						></app-form-control>
					</ion-col>
				</ion-row>
			</form>
		</ion-grid>

		<div class="row-full shadow safe-max-width" style="max-width: 1760px">
			<ion-toolbar color="primary">
				<ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
					<ion-segment-button value="s1">
						<ion-label>{{'Product list' | translate}}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="s2">
						<ion-label>{{'Other information' | translate}}</ion-label>
					</ion-segment-button>
				</ion-segment>
			</ion-toolbar>
			<div *ngIf="segmentView == 's1'">
				<app-purchase-items
					(renderFormArray)="renderFormArray($event)"
					[contentType]="_currentContentType"
					[IDPurchaseRequest]="formGroup.get('Id').value"
					[canEdit]="pageConfig.canEdit"
					(onChange)="saveChange()"
					[IDVendor]="formGroup.get('IDVendor').value"
					[status]="formGroup.get('Status').value"
					[statusLineList]="statusLineList"
					[orderLines]="item.OrderLines"
					(removeItem)="removeItem($event)"
					(onRefresh)="refresh()"
				>
				</app-purchase-items>
			</div>
			<div *ngIf="segmentView == 's2'">
				<div class="ion-padding">
					<ion-grid fixed>
						<ion-row class="hr-group" *ngIf="item?.Id">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Other information' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control
									[field]="{id: 'IDBranch', type: 'branch-breadcrumbs', label: 'Branch', form: formGroup, dataSource: env.branchList }"
								></app-form-control>
								<app-form-control [field]="{id: 'CreatedBy', type: 'text', label: 'Created by', form: formGroup }"></app-form-control>
								<app-form-control [field]="{id: 'CreatedDate', type: 'span-datetime', label: 'Created date', form: formGroup }"></app-form-control>
								<app-form-control [field]="{id: 'ModifiedBy', type: 'text', label: 'Last modified by', form: formGroup }"></app-form-control>
								<app-form-control [field]="{id: 'ModifiedDate', type: 'span-datetime', label: 'Last modified date', form: formGroup }"></app-form-control>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control
									[field]="{id: 'DocumentDate', label: 'Document date', type: 'datetime-local', form: formGroup}"
									(change)="changeDate($event)"
								></app-form-control>

								<app-form-control
									[field]="{id: 'PostingDate', label: 'Posting date', type: 'datetime-local', form: formGroup}"
									(change)="changeDate($event)"
								></app-form-control>

								<app-form-control [field]="{id: 'DueDate', label: 'Due date', type: 'datetime-local', form: formGroup}" (change)="changeDate($event)">
								</app-form-control>

								<app-form-control [field]="{id: 'Remark', type: 'textarea', form: formGroup }" (change)="saveChange()"></app-form-control>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</div>
		</div>
	</div>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
