<ion-header>
  <app-toolbar [page]="this">
  </app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="header-table">
    <app-data-table
      style="width: fit-content; min-width: calc(100% - 32px)"
      class="box-shadow responsive"
      [rows]="items"
      [trackBy]="'Id'"
      [(selectedRows)]="selectedItems"
      [showSpinner]="pageConfig.showSpinner"
      [showFilter]="pageConfig.isShowSearch"
      [(query)]="query"
      (dataInfinite)="loadData($event)"
      (filter)="onDatatableFilter($event)"
      (sort)="onSort($event)"
      
    >
      <datatable-column class="col-checkbox cell" [checkbox]="true" name="" property="checked">
        <ng-template datatable-header-template> </ng-template>
        <ng-template let-i="row" datatable-cell-template>
          <input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox" />
        </ng-template>
      </datatable-column>

      <datatable-column class="col-id cell" name="#" property="Id">
        <ng-template datatable-header-template>
          <div class="col-id cell" (click)="sortToggle('Id')">
            {{'Id' | translate}}
            <ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
            <ion-icon
              class="min-btn"
              (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
              *ngIf="query.Id"
              name="search"
              color="primary"
            ></ion-icon>
          </div>
        </ng-template>
        <ng-template let-i="row" datatable-cell-template>
          <div (click)="nav('purchase-quotation/'+i.Id,'forward')" class="col-id cell">{{i.Id}}</div>
        </ng-template>
      </datatable-column>

      <datatable-column class="col-name cell" name="" property="Id">
        <ng-template datatable-header-template>
          <div class="col-code cell" (click)="sortToggle('RequestBranchName')">{{'Department' | translate}}</div>
        </ng-template>

        <ng-template let-i="row" datatable-cell-template>
          <div *ngIf="i.RequestBranchName" class="col-code cell">
            {{i.RequestBranchName | translate}}
          </div>
        </ng-template>
      </datatable-column>

      <datatable-column class="col-name cell" name="Requester" property="Id">
        <ng-template let-i="row" datatable-cell-template>
          <div *ngIf="i._Requester?.Id"  class="col-staff cell">
            <ion-avatar title="{{i._Requester?.Code}} - {{i._Requester?.FullName}}" class="avatar" slot="start">
              <ion-img style= "margin-left: -8px"
                #img
                [src]="imgPath + i._Requester?.Code + '.jpg'"
                (ionError)="img.src = 'assets/avartar-empty.jpg'"
              ></ion-img>
            </ion-avatar>
            {{i._Requester?.FullName}}
          </div>
        </ng-template>
      </datatable-column>

    
      <datatable-column class="col-date cell" name="" property="RequiredDate">
        <ng-template datatable-header-template>
          <div class="col-date cell" (click)="sortToggle('RequiredDate')">
            {{'Required date' | translate}}
            <ion-icon
              class="min-btn"
              *ngIf="sort.RequiredDate"
              [name]="sort.RequiredDate == 'RequiredDate'?'arrow-down': 'arrow-up'"
            ></ion-icon>
            <ion-icon
              class="min-btn"
              (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
              *ngIf="query.RequiredDate"
              name="search"
              color="primary"
            ></ion-icon>
          </div>
        </ng-template>

        <ng-template let-i="row" datatable-cell-template>
          <div
            *ngIf="i.RequiredDate"
            class="col-date cell"
            (click)="nav('purchase-quotation/'+i.Id,'forward')"
          >
            {{i.RequiredDate | date :'dd/MM/yyyy'}}
            <small>{{i.RequiredDate | date:'hh:mm'}}</small>
          </div>
        </ng-template>
      </datatable-column>
      <!-- <datatable-column class="col-code col-expectDate cell hide-small" name="" property="PostingDate">
        <ng-template datatable-header-template>
          <div class="col-code cell" (click)="sortToggle('PostingDate')">
            {{'Posting date' | translate}}
            <ion-icon
              class="min-btn"
              *ngIf="sort.PostingDate"
              [name]="sort.PostingDate == 'PostingDate'?'arrow-down': 'arrow-up'"
            ></ion-icon>
            <ion-icon
              class="min-btn"
              (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
              *ngIf="query.PostingDate"
              name="search"
              color="primary"
            ></ion-icon>
          </div>
        </ng-template>
        <ng-template let-i="row" datatable-cell-template>
          <div
            *ngIf="i.PostingDate"
            class="col-code col-expectDate cell"
            (click)="nav('purchase-quotation/'+i.Id,'forward')"
          >
            {{i.PostingDate | date :'dd/MM/yyyy'}}
            <small >{{i.PostingDate | date :'hh:mm'}}</small>
          </div>
        </ng-template>
      </datatable-column> -->
      <!-- <datatable-column class="col-code col-expectDate cell hide-small" name="" property="DocumentDate">
        <ng-template datatable-header-template>
          <div class="col-code cell" (click)="sortToggle('DocumentDate')">
            {{'Document date' | translate}}
            <ion-icon
              class="min-btn"
              *ngIf="sort.DocumentDate"
              [name]="sort.DocumentDate == 'DocumentDate'?'arrow-down': 'arrow-up'"
            ></ion-icon>
            <ion-icon
              class="min-btn"
              (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
              *ngIf="query.DocumentDate"
              name="search"
              color="primary"
            ></ion-icon>
          </div>
        </ng-template>
        <ng-template let-i="row" datatable-cell-template>
          <div
            *ngIf="i.DocumentDate"
            class="col-code col-expectDate cell"
            (click)="nav('purchase-quotation/'+i.Id,'forward')"
          >
            {{i.DocumentDate | date :'dd/MM/yyyy'}}
            <small> {{i.DocumentDate | date :'hh:mm'}}</small>
          </div>
        </ng-template>
      </datatable-column> -->
      <!-- <datatable-column class="col-code col-expectDate cell hide-small" name="" property="DueDate">
        <ng-template datatable-header-template>
          <div class="col-code cell" (click)="sortToggle('DueDate')">
            {{'Due date' | translate}}
            <ion-icon
              class="min-btn"
              *ngIf="sort.DueDate"
              [name]="sort.DueDate == 'DueDate'?'arrow-down': 'arrow-up'"
            ></ion-icon>
            <ion-icon
              class="min-btn"
              (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
              *ngIf="query.DueDate"
              name="search"
              color="primary"
            ></ion-icon>
          </div>
        </ng-template>
        <ng-template let-i="row" datatable-cell-template>
          <div *ngIf="i.DueDate" class="col-code col-expectDate cell" (click)="nav('purchase-quotation/'+i.Id,'forward')">
            {{i.DueDate | date :'dd/MM/yyyy'}}
            <small> {{i.DueDate | date :'hh:mm'}}</small>
          </div>
        </ng-template>
      </datatable-column> -->

      <datatable-column class="col-code cell money" name="Total" property="TotalAfterTax">
        <ng-template let-i="row" datatable-cell-template>
          {{i.TotalAfterTax | currency: 'VND':'':'1.0-0':''}}
        </ng-template>
      </datatable-column>
    
      <datatable-column class="col-status cell" name="" property="StatusText">
        <ng-template datatable-header-template>
          <div class="col-status cell" (click)="sortToggle('Status')">
            {{'Status' | translate}}
            <ion-icon class="min-btn" *ngIf="sort.Status" [name]="sort.Status == 'Status'?'arrow-down': 'arrow-up'">
            </ion-icon>
            <ion-icon
              class="min-btn"
              (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
              *ngIf="query.Status"
              name="search"
              color="primary"
            ></ion-icon>
          </div>
        </ng-template>

        <ng-template let-i="row" datatable-cell-template>
          <span class="bar-holder">
            <ion-text class="bar-title" [color]="i.StatusColor">{{i.StatusText | translate}}</ion-text>
            <span
              class="bar"
              [ngClass]="{active: s.Code==i.Status}"
              [ngStyle]="{'background-color': 'var(--ion-color-'+s.Color+')'}"
              *ngFor="let s of statusList"
              [title]="s.Name | translate"
            ></span>
          </span>
        </ng-template>
      </datatable-column>

    </app-data-table>
 
</ion-content>
