<ion-header>
	<app-toolbar [page]="this"> </app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="scrollx" forceOverscroll="false">
	<app-page-title class="ion-padding safe-max-width" [pageConfig]="pageConfig"></app-page-title>
	<div class="safe-max-width">
		<app-data-table
			class="box-shadow responsive"
			[rows]="items"
			[trackBy]="'Id'"
			[(selectedRows)]="selectedItems"
			[showSpinner]="pageConfig.showSpinner"
			[showFilter]="pageConfig.isShowSearch"
			[(query)]="query"
			(dataInfinite)="loadData($event)"
			(filter)="onDatatableFilter($event)"
			(sort)="onSort($event)"
			(selectedRowsChange)="showCommandBySelectedRows($event)"
		>
			<datatable-empty-message subMessage="Please click add new to start..." [showImg]="false" minHeight="125px">
				<ng-template datatable-empty-message-template>
					<ion-button (click)="addPlanningVendor()" size="small" fill="outline" *ngIf="pageConfig.canEdit">
						<ion-icon slot="start" name="add-outline"></ion-icon>
						{{ 'Add planning vendor' | translate }}
					</ion-button>
				</ng-template>
			</datatable-empty-message>
			<datatable-column [checkbox]="true" name=""></datatable-column>
			<datatable-column class="col-id" name="Id" property="Id" [navLink]="pageConfig.pageName">
				<ng-template let-i="row" datatable-cell-template>
					<span (click)="showPlanningVendorModal(i)">{{i?.Id}}</span>
				</ng-template>
			</datatable-column>
			<!-- <datatable-column class="col-id" name="IDVendor" property="IDVendor" [navLink]="pageConfig.pageName"></datatable-column> -->
			<datatable-column class="col-name" name="Vendor" property="_Vendor">
				<ng-template let-i="row" datatable-cell-template>
					<div>
						<span (mousedown)="$event.stopPropagation()"> #{{ i?._Vendor?.Id }} </span>
						<a class="clickable" [routerLink]="['/vendor/' + i?._Vendor?.Id]" (mousedown)="$event.stopPropagation()"><ion-icon name="open-outline"></ion-icon></a>
						<small label class="bold">{{ i?._Vendor?.Code }}</small>
						<div>{{ i?._Vendor?.Name }}</div>
					</div>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-name flex-break" name="Item" property="_Item" [navLink]="pageConfig.pageName">
				<ng-template let-i="row" datatable-cell-template>
					<div>
						<span (mousedown)="$event.stopPropagation()"> #{{ i._Item.Id }} </span>
						<a class="clickable" [routerLink]="['/item/' + i._Item.Id]" (mousedown)="$event.stopPropagation()"><ion-icon name="open-outline"></ion-icon></a>
						<small label class="bold">{{ i._Item.Code }}</small>
						<div>{{ i._Item.Name }}</div>
					</div>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-number" name="Order interval" property="OrderInterval"></datatable-column>
			<datatable-column class="col-number" name="Order multiple" property="OrderMultiple"></datatable-column>
			<datatable-column class="col-number" name="Order multiple" property="OrderMultiple"></datatable-column>
			<datatable-column class="col-number" name="MOQ" property="MinimumOrderQty"></datatable-column>
			<datatable-column class="col-number" name="Lead time" property="LeadTime"></datatable-column>
			<datatable-column class="col-number" name="Tolerance days" property="ToleranceDays"></datatable-column>
			<datatable-column class="col-name" name="Unit" property="IDBranch">
				<ng-template let-i="row" datatable-cell-template>
					<app-branch-breadcrumbs
						[maxItems]="3"
						[itemsBeforeCollapse]="0"
						[itemsAfterCollapse]="2"
						[Id]="i.IDBranch"
						[Items]="env.branchList"
						[ngClass]="{'no-check-dirty': noCheckDirty}"
						class="c-input disable breadcrumbs"
					>
					</app-branch-breadcrumbs>
				</ng-template>
			</datatable-column>
		</app-data-table>
	</div>
</ion-content>
