<form [formGroup]="formGroup">
	<ng-container formArrayName="OrderLines">
		<app-data-table
			class="po-order-lines-table"
			[trackBy]="page?.pageConfig?.isHistoryView ? '_historyTrackKey' : null"
			[rows]="formGroup.get('OrderLines')['controls']"
			[showSpinner]="page.pageConfig?.showSpinner"
		>
			<datatable-empty-message subMessage="Please click add new to start...">
				<ng-template datatable-empty-message-template>
					<div>
						<ion-button
							*ngIf="page.pageConfig.canEdit && formGroup.get('OrderLines')['controls']?.length == 0"
							size="small"
							(click)="addLine({ IDOrder: this.item.Id, Id: 0 }, true)"
						>
							<ion-icon slot="start" name="add-circle-outline"></ion-icon>
							{{ 'Add product' | translate }}
						</ion-button>
					</div>
				</ng-template>
			</datatable-empty-message>
			<datatable-column [checkbox]="true" property="value" *ngIf="page.pageConfig.canEdit">
				<ng-template datatable-header-template>
					<input class="c-checkbox" type="checkbox" (change)="toggleSelectAll()" [checked]="isAllSelected" />
				</ng-template>
				<ng-template let-g="row" datatable-cell-template>
					<app-input-control (change)="changeSelection(g)" [field]="{ id: 'IsChecked', label: 'Checked', type: 'checkbox', form: g }"></app-input-control>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-id" name="No." property="#"></datatable-column>

			<datatable-column class="col-name" name="Item" property="IDItem">
				<ng-template let-g="row" datatable-cell-template>
					<app-input-control
						[field]="{
							id: 'IDItem',
							label: 'Item',
							type: 'ng-select-item',
							form: g,
							dataSource: g.controls._IDItemDataSource.value,
							bindLabel: 'Name',
							bindValue: 'Id',
							clearable: true,
							placeholder: 'Type to search...',
						}"
						(change)="IDItemChange($event, g)"
					></app-input-control>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-code" name="Unit" property="IDUoM">
				<ng-template let-g="row" datatable-cell-template>
					<app-input-control
						[field]="{
							id: 'IDUoM',
							type: 'ng-select',
							form: g,
							dataSource: g.get('_IDUoMDataSource').value,
							bindLabel: 'Name',
							bindValue: 'Id',
							appendTo: '#ng-select-table',
						}"
						(change)="IDUoMChange(g)"
					>
					</app-input-control>
				</ng-template>
			</datatable-column>
			<datatable-column
				*ngIf="page.pageConfig.POShowSuggestedQuantity && item.Type == 'FromPurchaseSuggestion'"
				class="col-number po-qty-col"
				name="Đề nghị"
				property="SuggestedQuantity"
			>
				<ng-template let-g="row" datatable-cell-template>
					<app-input-control (change)="submitData(g)" [field]="{ id: 'SuggestedQuantity', type: 'number', form: g }"></app-input-control>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-number po-qty-col" name="Order quantity" property="UoMQuantityExpected">
				<ng-template let-g="row" datatable-cell-template>
					<app-input-control (change)="submitData(g)" [field]="{ id: 'UoMQuantityExpected', type: 'number', form: g }"></app-input-control>
				</ng-template>
			</datatable-column>

			<datatable-column *ngIf="page.pageConfig.POShowAdjustedQuantity" class="col-number po-qty-col" name="SL đ.chỉnh" property="QuantityAdjusted">
				<ng-template let-g="row" datatable-cell-template>
					<app-input-control (change)="submitData(g)" [field]="{ id: 'QuantityAdjusted', type: 'number', form: g }"></app-input-control>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-number po-qty-col" name="Discount" property="TotalDiscount">
				<ng-template let-g="row" datatable-cell-template>
					<app-input-control (change)="submitData(g)" [field]="{ id: 'TotalDiscount', type: 'number', form: g }"></app-input-control>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-promotion" [checkbox]="true" name="Promotion goods" property="IsPromotionItem">
				<ng-template let-g="row" datatable-cell-template>
					<app-input-control (change)="submitData(g)" [field]="{ id: 'IsPromotionItem', type: 'checkbox', form: g }"> </app-input-control>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-number po-qty-col" name="Unit price" property="UoMPrice">
				<ng-template let-g="row" datatable-cell-template>
					<app-input-control (change)="submitData(g)" [field]="{ id: 'UoMPrice', type: 'number', form: g }"> </app-input-control>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-number po-qty-col" name="VAT" property="TaxRate">
				<ng-template let-g="row" datatable-cell-template>
					<app-input-control [field]="{ id: 'TaxRate', type: 'number', form: g }"></app-input-control>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-number po-qty-col" name="Total after tax" property="TotalAfterTax">
				<ng-template let-g="row" datatable-cell-template>
					<span class="c-input disable">
						{{
							(g.get('IsPromotionItem').value
								? 0
								: (((g.get('UoMQuantityExpected').value || 0) + (g.get('QuantityAdjusted').value || 0)) * (g.get('UoMPrice').value || 0) -
										(g.get('TotalDiscount').value || 0)) *
									(1 + (g.get('TaxRate').value || 0) / 100)
							) | number: '1.0-0'
						}}
					</span>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-name po-remark-col" name="Remark" property="Remark">
				<ng-template let-g="row" datatable-cell-template>
					<app-input-control (change)="submitData(g)" [field]="{ id: 'Remark', type: 'text', form: g }"> </app-input-control>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-icon" name="" property="value" *ngIf="page.pageConfig.canEdit">
				<ng-template datatable-header-template>
					<ion-icon
						color="danger"
						class="min-btn clickable"
						title="{{ 'SELECTED_ITEMS' | translate: { COUNT: selectedOrderLines.controls?.length } }}"
						name="trash-outline"
						(click)="removeSelectedItems()"
					></ion-icon>
				</ng-template>
				<ng-template let-idx="idx" datatable-cell-template>
					<ion-icon color="danger" class="min-btn clickable" name="trash-outline" (click)="removeLine(idx)" title="Remove line"></ion-icon>
				</ng-template>
			</datatable-column>
		</app-data-table>
	</ng-container>
</form>

<div class="ion-padding-start" *ngIf="page.pageConfig.canEdit && !page?.pageConfig?.isHistoryView">
	<ion-button fill="clear" size="small" (click)="addLine({ IDOrder: this.item.Id, Id: 0 }, true)">
		<ion-icon slot="start" name="add-circle-outline"></ion-icon>
		{{ 'Add product' | translate }}
	</ion-button>

	<ion-button fill="clear" size="small" (click)="showSaleOrderPickerModal()">
		<ion-icon slot="start" name="add-circle-outline"></ion-icon>
		{{ 'Add items from SO' | translate }}
	</ion-button>
</div>

<div class="ion-padding" *ngIf="vendorView">
	<ion-buttons class="ion-justify-content-end" slot="end">
		<ion-button style="margin-right: 0" *ngIf="formGroup.get('Status').value == 'Ordered'" fill="solid" expand="block" size="small" (click)="confirmOrder()">
			{{ 'Confirm order' | translate }}
		</ion-button>
	</ion-buttons>
</div>
