<ion-header>
	<app-toolbar [page]="this">
		<ion-button
			tollbarSelected
			*ngIf="pageConfig.ShowCopyToPurchaseQuotation && pageConfig.canCopyToPurchaseQuotation && selectedItems?.length  == 1"
			(click)="sendRequestQuotationToVendor()"
			title="{{'Send quote request' | translate}}"
		>
			<ion-icon name="documents-outline"></ion-icon>
		</ion-button>
	</app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="scrollx">
	<app-page-title
		class="ion-padding safe-max-width"
		[icon]="pageConfig.pageIcon"
		[color]="pageConfig.pageColor"
		[title]="pageConfig.pageTitle"
		[remark]="pageConfig.pageRemark"
	></app-page-title>

	<div class="safe-max-width">
		<app-data-table
			class="box-shadow responsive"
			[rows]="items"
			[trackBy]="'Id'"
			[(selectedRows)]="selectedItems"
			[showSpinner]="pageConfig.showSpinner"
			[showFilter]="pageConfig.isShowSearch"
			[(query)]="query"
			(dataInfinite)="loadData($event)"
			(filter)="onDatatableFilter($event)"
			(sort)="onSort($event)"
			(selectedRowsChange)="showCommandBySelectedRows($event)"
		>
			<datatable-column [checkbox]="true" name=""></datatable-column>
			<datatable-column class="col-id" name="#" property="Id" [navLink]="pageConfig.pageName"></datatable-column>
			<datatable-column class="col-date" format="yyyy-MM-dd" name="Required date" property="RequiredDate" filterControlType="date"></datatable-column>
			<datatable-column class="col-code" name="Department" property="_requestBranchName"></datatable-column>
			<datatable-column class="col-code" name="Requester" property="_requesterName"></datatable-column>
			<datatable-column class="col-name flex-break" name="Title" property="Name"></datatable-column>
			<datatable-column class="col-number bold" format="1.0-0" name="Total" property="TotalAfterTax"></datatable-column>

			<datatable-column class="col-status" name="Status" property="Status" filterControlType="ng-select" [filterDataSource]="statusList">
				<ng-template let-i="row" datatable-cell-template>
					<ion-badge [color]="i._Status?.Color" [title]="i._Status?.Name"> {{i._Status?.Name | translate}} </ion-badge>
				</ng-template>
			</datatable-column>
		</app-data-table>
	</div>

	<div class="ion-padding"></div>
	
</ion-content>
