<ion-header>
	<app-toolbar [page]="this">
		<ion-button title="{{'Send quotation request' | translate}}" (click)="sendQuotationRequest()"
			*ngIf=" (pageConfig.canSendQuotationRequest && pageConfig.ShowSendQuotationRequest)">
			<ion-icon slot="icon-only" name="lock-open"></ion-icon>
		</ion-button>
		<ion-button class="clickable" title="{{'Copy' | translate}}" (click)="presentCopyPopover($event)"
			*ngIf=" (pageConfig.canCopyToPriceListVersion && pageConfig.ShowCopyToPriceListVersion)  ||(pageConfig.canCopyToPurchaseOrder && pageConfig.ShowCopyToPurchaseOrder)">
			<ion-icon slot="icon-only" name="copy-outline"></ion-icon>
		</ion-button>
		<ion-popover #copyPopover [isOpen]="isOpenCopyPopover" (didDismiss)="isOpenCopyPopover = false"
			[dismissOnSelect]="true">
			<ng-template>
				<ion-content scroll-y="false">
					<ion-list lines="none">
						<ion-item title="{{'Copy to price list' | translate}}"
							*ngIf="pageConfig.canCopyToPriceListVersion && pageConfig.ShowCopyToPriceListVersion"
							[button]="true" [detail]="false" (click)="updatePriceList()">
							<ion-icon slot="start" name="pricetags-outline"></ion-icon>
							<ion-label> {{'Copy to price list' | translate}}</ion-label>
						</ion-item>

						<ion-item title="{{'Copy to purchase order' | translate}}"
							*ngIf="pageConfig.canCopyToPurchaseOrder && pageConfig.ShowCopyToPurchaseOrder"
							[button]="true" [detail]="false" (click)="copyCopyToPurchaseOrder()">
							<ion-icon slot="start" name="clipboard-list"></ion-icon>
							<ion-label>{{'Copy to purchase order' | translate}}</ion-label>
						</ion-item>
						<!-- *ngIf="pageConfig.canCopyToPriceListVersion && pageConfig.ShowCopyToPriceListVersion" -->

						<ion-item title="{{'Copy to item planning data' | translate}}" [button]="true" [detail]="false"
							(click)="updateMinimumOrderQty()">
							<ion-icon slot="start" name="clipboard-list"></ion-icon>
							<ion-label> {{'Copy to item planning data' | translate}}</ion-label>
						</ion-item>
					</ion-list>
				</ion-content>
			</ng-template>
		</ion-popover>
	</app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div id="ng-select-table" style="position: absolute; z-index: 30005"></div>
	<div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
		<ion-grid fixed>
			<form [formGroup]="formGroup">
				<ion-row class="hr-group">
					<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Purchase quotation' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control (change)="saveChange()"
							[field]="{id: 'Code', label: 'Code', type: 'text',form: formGroup}"> </app-form-control>

						<app-form-control (change)="saveChange();"
							[field]="{id: 'Name', type: 'text', label: 'Name', form: formGroup}"></app-form-control>

						<app-form-control
							[field]="{id: 'IDBusinessPartner',label: 'Vendor', type: 'ng-select-bp', form: formGroup, dataSource: _vendorDataSource, bindLabel: 'Name', bindValue: 'Id', placeholder: 'Type to search...', clearable: true, appendTo: '#ng-select-table' }"
							(change)="changeVendor($event)"></app-form-control>

						<app-form-control
							[field]="{id: 'ContentType', label: 'Content type', type: 'ng-select',dataSource: contentTypeList, bindLabel: 'Name',bindValue: 'Code', form: formGroup}"
							(change)="changeContentType($event)">
						</app-form-control>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control (change)="saveChange();"
							[field]="{id: 'Status', label: 'Status', type: 'ng-select-status', dataSource: statusList, bindLabel: 'Name', bindValue: 'Code', form: formGroup}"></app-form-control>

						<app-form-control
							[field]="{id: 'RequiredDate', label: 'Required date', type: 'datetime-local',form: formGroup}"
							(change)="changeRequiredDate($event)">
						</app-form-control>

						<app-form-control
							[field]="{id: 'ValidUntilDate', label: 'Valid until date', type: 'datetime-local',form: formGroup}"
							(change)="saveChange()">
						</app-form-control>

						<app-form-control
							[field]="{id: 'TotalAfterTax', label: 'Total', type: 'span-text', form: formGroup}">
							<ng-template input-control-template>
								<b>{{calcTotalAfterTax() | number: '1.0-0'}}</b>
							</ng-template>
						</app-form-control>
					</ion-col>
				</ion-row>
			</form>
		</ion-grid>

		<div class="row-full shadow full-screen">
			<ion-toolbar color="primary">
				<ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
					<ion-segment-button value="s1">
						<ion-label>{{'Product list' | translate}}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="s2">
						<ion-label>{{'Other information' | translate}}</ion-label>
					</ion-segment-button>
				</ion-segment>
				<ion-buttons slot="end" *ngIf="segmentView=='s1'">
					<ion-button class="ion-hide-sm-down" *ngIf="pageConfig.canExport" (click)="export()"
						title="{{'Export' | translate}}">
						<ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon>
					</ion-button>
					<ion-button class="ion-hide-sm-down"
						*ngIf="pageConfig.canImport && ((pageConfig.canQuote && (item.Status == 'Open' || item.Status == 'Unapproved')) || pageConfig.canEdit)"
						(click)="onClickImport()" title="{{'Import' | translate}}">
						<ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
						<input class="hide-all" #importfile type="file" accept=".xlsx" (change)="import($event)" />
					</ion-button>
				</ion-buttons>
			</ion-toolbar>
			<div *ngIf="segmentView == 's1'">
				<form [formGroup]="formGroup">
					<app-purchase-quotation-items *ngIf="readyRender"
						[page]="this" 
						[IDPurchaseQuotation]="formGroup.get('Id')?.value"
						[contentType]="formGroup.get('ContentType')?.value"
						[IDVendor]="formGroup.get('IDBusinessPartner')?.value" 
						[statusLineList]="_statusLineList"
						[orderLines]="item.QuotationLines" 
						[vendorView]="vendorView"
						[isShowtoggleAllQuantity]="_isShowtoggleAllQuantity" 
						[vendorDataSource]="_vendorDataSource"
						[requiredDate]="formGroup.get('RequiredDate')?.value"
						[sourceType]="formGroup.get('SourceType')?.value"
						(renderFormArray)="renderQuotationFormArray($event)" 
						(onChange)="saveChange()"
						(onRefresh)="refresh()" 
						(removeItem)="removeQuotationItem($event)">
					</app-purchase-quotation-items>
				</form>
			</div>
			<div *ngIf="segmentView == 's2'">
				<div class="ion-padding">
					<ion-grid fixed>
						<ion-row class="hr-group" *ngIf="item?.Id">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Other information' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control
									*ngIf="formGroup.get('SourceType').value && formGroup.get('SourceKey').value "
									[field]="{id: 'SourceKey', type: 'text',
			 label: formGroup.get('SourceType').value =='FromPurchaseRequest'?'Purchase request': 'Source'
		, form: formGroup}">
									<small label class="danger"><ng-container
											*ngIf="formGroup.get('SourceType').value =='FromPurchaseRequest'">
											<a [ngClass]="{ 'no-check-dirty': noCheckDirty }" class="clickable"
												(click)="nav('/purchase-request/' + formGroup.get('SourceKey').value)"
												(mousedown)="$event.stopPropagation()">#{{formGroup.get('SourceKey').value
												}} <ion-icon name="open-outline"></ion-icon></a>
										</ng-container>
									</small>
								</app-form-control>

								<app-form-control
									[field]="{id: 'IDBranch', type: 'branch-breadcrumbs', label: 'Branch', form: formGroup, dataSource: env.branchList }"></app-form-control>

								<app-form-control
									[field]="{id: 'CreatedBy', type: 'text', label: 'Created by', form: formGroup }"></app-form-control>
								<app-form-control
									[field]="{id: 'CreatedDate', type: 'span-datetime', label: 'Created date', form: formGroup }"></app-form-control>
								<app-form-control
									[field]="{id: 'ModifiedBy', type: 'text', label: 'Last modified by', form: formGroup }"></app-form-control>
								<app-form-control
									[field]="{id: 'ModifiedDate', type: 'span-datetime', label: 'Last modified date', form: formGroup }"></app-form-control>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control
									[field]="{id: 'DocumentDate', label: 'Document date', type: 'datetime-local',form: formGroup}"
									(change)="changeDate($event)">
								</app-form-control>

								<app-form-control
									[field]="{id: 'PostingDate', label: 'Posting date', type: 'datetime-local',form: formGroup}"
									(change)="changeDate($event)">
								</app-form-control>

								<app-form-control
									[field]="{id: 'DueDate', label: 'Due date', type: 'datetime-local',form: formGroup}"
									(change)="changeDate($event)">
								</app-form-control>

								<app-form-control
									[field]="{id: 'Remark', type: 'textarea', label: 'Remark', form: formGroup }"
									(change)="saveChange()"></app-form-control>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</div>
		</div>
	</div>
	<ion-popover #priceListVersionPopover class="w300" [isOpen]="isOpenPriceListVersionPopover"
		(didDismiss)="isOpenPriceListVersionPopover = false">
		<ng-template>
			<ion-content scroll-y="false">
				<ion-list lines="none">
					<ion-list lines="none">
						<app-page-message [itemsLength]="currentShowingPriceListVersionItem"
							[showSpinner]="popoverSpinner"></app-page-message>
						<ng-container *ngIf="currentShowingPriceListVersionItem">
							<ion-item lines="inset">
								<ion-icon size="small" color="danger" name="pricetag-outline" slot="start"></ion-icon>
								<ion-label>
									<h2 class="bold">{{'Current price' | translate}}</h2>
								</ion-label>
								<ion-badge slot="end">{{currentShowingPriceListVersionItem.CurrentPrice| number:
									'1.0-0'}}</ion-badge>
							</ion-item>
							<ion-item *ngFor="let p of currentShowingPriceListVersionItem.PriceVersions">
								<ion-icon size="small" name="timer-outline" slot="start"></ion-icon>
								<ion-label class="ion-text-wrap">
									<h3>{{p.Name}}</h3>
									<p *ngIf="p.AppliedDate">{{p.AppliedDate | date:'yyyy-MM-dd HH:mm'}}</p>
									<p *ngIf="!p.AppliedDate">{{'Price not applied' | translate}}</p>
								</ion-label>
								<ion-badge color="medium" slot="end">{{p.Price | number: '1.0-0'}}</ion-badge>
							</ion-item>
						</ng-container>
					</ion-list>
				</ion-list>
			</ion-content>
		</ng-template>
	</ion-popover>

	<ion-popover #addAllProductFromVendorPopover class="w300" [isOpen]="_isOpenAddAllProductFromVendor"
		(didDismiss)="_isOpenAddAllProductFromVendor = false">
		<ng-template>
			<ion-toolbar>
				<ion-title> {{'Enter quantity'| translate}}</ion-title>
				<ion-buttons slot="end">
					<ion-button (click)="addAllProductFromVendor(false)">
						<ion-icon slot="icon-only" name="close"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-toolbar>
			<ion-content class="ion-padding" scroll-y="false">
				<app-form-control
					[field]="{id: 'Quantity',label: 'Quantity', type: 'number', form: formGroupQuantityProduct}"></app-form-control>
			</ion-content>
			<ion-toolbar>
				<ion-buttons slot="end">
					<ion-button fill="solid" (click)="addAllProductFromVendor(true)">
						<ion-text>{{'Save' | translate}}</ion-text>
					</ion-button>
				</ion-buttons>
			</ion-toolbar>
		</ng-template>
	</ion-popover>

	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>