<form [formGroup]="formGroup">
    <ng-container formArrayName="OrderLines">
        <div class="table-contain">
            <app-data-table [rows]="formGroup.get('OrderLines')['controls']"
                [showSpinner]="page.pageConfig?.showSpinner">
                <datatable-empty-message subMessage="Please click add new to start...">
                    <ng-template datatable-empty-message-template>
                        <div>
                            <ion-button
                                *ngIf="_IDPurchaseQuotation && page.pageConfig.canEdit && formGroup.get('OrderLines')['controls']?.length == 0"
                                size="small" (click)="addLine({}, true)">
                                <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                                {{ 'Add product' | translate }}
                            </ion-button>
                        </div>
                    </ng-template>
                </datatable-empty-message>
                <datatable-column [checkbox]="true" property="value" *ngIf="page.pageConfig.canEdit">
                    <ng-template datatable-header-template>
                        <input class="c-checkbox" type="checkbox" (change)="toggleSelectAll()"
                            [checked]="isAllSelected" />
                    </ng-template>
                    <ng-template let-g="row" datatable-cell-template>
                        <app-input-control (change)="changeSelection(g)"
                            [field]="{ id: 'IsChecked', label: 'Checked', type: 'checkbox', form: g }"></app-input-control>
                    </ng-template>
                </datatable-column>
                <datatable-column class="col-id" name="No." property="#"></datatable-column>

                <datatable-column class="col-name item-name" name="Items" property="value">
                    <ng-template let-g="row" datatable-cell-template>
                        <app-input-control *ngIf="_contentType === 'Item'" [field]="{
                            id: 'IDItem',
                            label: 'Item',
                            type: 'ng-select-item',
                            form: g,
                            dataSource: g.get('_IDItemDataSource').value,
                            bindValue: 'Id',
                            bindLabel: 'Name',
                            clearable: true,
                            placeholder: 'Type to search...',
                            appendTo: '#ng-select-table'
                        }" (change)="IDItemChange($event, g)">
                        </app-input-control>

                        <app-input-control *ngIf="_contentType !== 'Item'" [field]="{
                                id: 'Name',
                                label: 'Name',
                                type: 'text',
                                form: g
                            }" (change)="submitData(g)">
                        </app-input-control>
                    </ng-template>
                </datatable-column>

                <datatable-column class="col-remark" name="Vendor" property="value"
                    *ngIf="!_IDVendor && _contentType === 'Item'">
                    <ng-template let-g="row" datatable-cell-template>
                        <app-input-control (change)="submitData(g)" [field]="{
                            id: 'IDVendor',
                            label: 'Vendor',
                            type: 'ng-select-item',
                            form: g,
                            dataSource: g.get('_Vendors').value,
                            bindLabel: 'Name',
                            bindValue: 'Id',
                            clearable: true,
                            placeholder: 'Type to search...',
                            appendTo: '#ng-select-table'
                        }">
                        </app-input-control>
                    </ng-template>
                </datatable-column>

                <datatable-column class="col-date" name="Required date" property="value">
                    <ng-template let-g="row" datatable-cell-template>
                        <app-input-control [field]="{ id: 'RequiredDate', type: 'datetime-local', form: g }"
                            (change)="submitData(g)"></app-input-control>
                    </ng-template>
                </datatable-column>

                <datatable-column class="col-code" name="Unit" property="value">
                    <ng-template let-g="row" datatable-cell-template>
                        <app-input-control [field]="{
                            id: 'IDItemUoM',
                            type: 'ng-select',
                            form: g,
                            dataSource: g.get('_IDUoMDataSource').value,
                            bindLabel: 'Name',
                            bindValue: 'Id',
                            appendTo: '#ng-select-table'
                        }" (change)="IDUoMChange(g)">
                        </app-input-control>
                    </ng-template>
                </datatable-column>
                <datatable-column class="col-number" name="Required Qty" property="value">
                    <ng-template let-g="row" datatable-cell-template>
                        <app-input-control [field]="{ id: 'QuantityRequired', type: 'number', form: g }"
                            (change)="submitData(g)">
                        </app-input-control>
                    </ng-template>
                </datatable-column>

                <datatable-column class="col-number" name="Minimum order Qty" property="value">
                    <ng-template let-g="row" datatable-cell-template>
                        <app-input-control [field]="{ id: 'MinimumOrderQty', type: 'number', form: g }"
                            (change)="submitData(g)">
                        </app-input-control>
                    </ng-template>
                </datatable-column>

                <datatable-column class="col-number" name="Remaining open" property="value" *ngIf="!vendorView">
                    <ng-template let-g="row" datatable-cell-template>
                        <app-input-control
                            [field]="{ id: 'QuantityRemainingOpen', type: 'number', form: g }"></app-input-control>
                    </ng-template>
                </datatable-column>

                <datatable-column class="col-number" name="Quoted Qty" property="value">
                    <ng-template let-g="row" datatable-cell-template>
                        <app-input-control [field]="{ id: 'Quantity', type: 'number', form: g }"
                            (change)="changeQuantity(g)"></app-input-control>
                    </ng-template>
                </datatable-column>

                <datatable-column class="col-icon" property="value" *ngIf="isShowtoggleAllQuantity">
                    <ng-template datatable-header-template>
                        <ion-icon (click)="toggleAllQuantity()" [color]="item?._IsShippedAll ? 'danger' : 'success'"
                            [name]="item?._IsShippedAll ? 'remove-circle-outline' : 'checkmark-done-circle-outline'">
                        </ion-icon>
                    </ng-template>
                    <ng-template let-g="row" datatable-cell-template>
                        <ion-icon *ngIf="g.controls.QuantityRequired.value != 0 && !g.controls.Quantity.disabled"
                            (click)="toggleQuantity(g)"
                            [color]="g.controls.Quantity.value == g.controls.QuantityRequired.value ? 'danger' : 'primary'"
                            class="min-btn"
                            [name]="g.controls.Quantity.value == g.controls.QuantityRequired.value ? 'remove-circle-outline' : 'checkmark-circle-outline'">
                        </ion-icon>
                    </ng-template>
                </datatable-column>

                <datatable-column class="col-money" name="Unit price" property="value">
                    <ng-template let-g="row" datatable-cell-template>
                        <app-input-control [field]="{ id: 'Price', type: 'number', form: g }"
                            (change)="submitData(g)"></app-input-control>
                    </ng-template>
                </datatable-column>
                <datatable-column class="col-icon" property="value" *ngIf="page.pageConfig.canViewPriceListVersion">
                    <ng-template let-i="row" datatable-cell-template>
                        <ion-icon class="clickable" color="danger" (click)="OpenViewPriceListVersionPopover(i,$event)"
                            class="min-btn" name="pricetag-outline"></ion-icon>
                    </ng-template>
                </datatable-column>

                <datatable-column class="col-number" name="Discount" property="value">
                    <ng-template let-g="row" datatable-cell-template>
                        <app-input-control [field]="{ id: 'TotalDiscount', type: 'number', form: g }"
                            (change)="submitData(g)"></app-input-control>
                    </ng-template>
                </datatable-column>

                <datatable-column class="col-number" name="VAT" property="value">
                    <ng-template let-g="row" datatable-cell-template>
                        <app-input-control [field]="{ id: 'TaxRate', type: 'number', form: g }"
                            (change)="submitData(g)"></app-input-control>
                    </ng-template>
                </datatable-column>
                <datatable-column class="col-number" name="Total after tax" property="value">
                    <ng-template let-g="row" datatable-cell-template>
                        <span class="c-input disable">
                            {{ g.controls.Quantity.value * (g.controls.Price.value - (g.controls.TotalDiscount.value ||
                            0)) * (1 + g.controls.TaxRate.value / 100)
                            | number: '1.0-0'
                            }}
                        </span>
                    </ng-template>
                </datatable-column>

                <datatable-column class="col-status" name="Status" property="value" filterControlType="ng-select" *ngIf="!vendorView"
                    [filterDataSource]="_statusLineList">
                    <ng-template let-g="row" datatable-cell-template>
                        <ion-badge [color]="g.controls._Status.value?.Color" [title]="g.controls._Status.value?.Name">
                            {{ g.controls._Status.value?.Name | translate }}
                        </ion-badge>
                    </ng-template>
                </datatable-column>

                <datatable-column class="col-icon" name="" property="value" *ngIf="page.pageConfig.canEdit">
                    <ng-template datatable-header-template>

                        <ion-icon color="danger" class="min-btn clickable"
                            title="{{ 'SELECTED_ITEMS' | translate: { COUNT: selectedOrderLines.controls?.length } }}"
                            name="trash-outline" (click)="removeSelectedItems()"></ion-icon>
                    </ng-template>
                    <ng-template let-idx="idx" datatable-cell-template>
                        <ion-icon color="danger" class="min-btn clickable" name="trash-outline"
                            (click)="removeLine(idx)" title="Remove line"></ion-icon>
                    </ng-template>
                </datatable-column>
            </app-data-table>
        </div>
    </ng-container>
</form>

<div class="ion-padding" *ngIf="page.pageConfig.canEdit && !vendorView && _IDVendor">
    <ion-button *ngIf="formGroup.get('OrderLines')['controls']?.length > 0" fill="clear" size="small"
        (click)="addLine({}, true)">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        {{ 'Add product' | translate }}
    </ion-button>

    <ion-button fill="clear" size="small" (click)="openAllProductFromVendorPopover()"
        *ngIf="_IDVendor && _IDPurchaseQuotation">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        {{ 'Add all products from vendor' | translate }}
    </ion-button>
</div>

<div class="ion-padding" style="display:flex; justify-content:flex-end"
    *ngIf="page.pageConfig?.ShowConfirm && page.pageConfig?.canConfirm && vendorView">
    <ion-button color="warning" fill="solid" size="small" (click)="confirm()">
        <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
        {{ 'Confirm' | translate }}
    </ion-button>
</div>
<ion-popover #priceListVersionPopover class="w300" [isOpen]="isOpenPriceListVersionPopover"
    (didDismiss)="isOpenPriceListVersionPopover = false">
    <ng-template>
        <ion-content scroll-y="false">
            <ion-list lines="none">
                <ion-list lines="none">
                    <app-page-message [itemsLength]="currentShowingPriceListVersionItem"
                        [showSpinner]="popoverSpinner"></app-page-message>
                    <ng-container *ngIf="currentShowingPriceListVersionItem">
                        <ion-item lines="inset">
                            <ion-icon size="small" color="danger" name="pricetag-outline" slot="start"></ion-icon>
                            <ion-label>
                                <h2 class="bold">{{'Current price' | translate}}</h2>
                            </ion-label>
                            <ion-badge slot="end">{{currentShowingPriceListVersionItem.CurrentPrice| number:
                                '1.0-0'}}</ion-badge>
                        </ion-item>
                        <ion-item *ngFor="let p of currentShowingPriceListVersionItem.PriceVersions">
                            <ion-icon size="small" name="timer-outline" slot="start"></ion-icon>
                            <ion-label class="ion-text-wrap">
                                <h3>{{p.Name}}</h3>
                                <p *ngIf="p.AppliedDate">{{p.AppliedDate | date:'yyyy-MM-dd HH:mm'}}</p>
                                <p *ngIf="!p.AppliedDate">{{'Price not applied' | translate}}</p>
                            </ion-label>
                            <ion-badge color="medium" slot="end">{{p.Price | number: '1.0-0'}}</ion-badge>
                        </ion-item>
                    </ng-container>
                </ion-list>
            </ion-list>
        </ion-content>
    </ng-template>
</ion-popover>



<ion-popover class="w300" [isOpen]="_isOpenAddAllProductFromVendor"
    (didDismiss)="_isOpenAddAllProductFromVendor = false" [dismissOnSelect]="false">
    <ng-template>
        <ion-toolbar>
            <ion-title>{{ 'Enter quantity' | translate }}</ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="addAllProductFromVendor(false)">
                    {{ 'Close' | translate }}
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <ion-content class="ion-padding" scroll-y="false">
            <form [formGroup]="formGroupQuantityProduct">
                <app-form-control [field]="{
                id: 'Quantity',
                label: 'Quantity',
                type: 'number',
                form: formGroupQuantityProduct
            }"></app-form-control>
            </form>
        </ion-content>
        <ion-toolbar>
            <ion-buttons slot="end">
                <ion-button fill="solid" (click)="addAllProductFromVendor(true)">
                    {{ 'Save' | translate }}
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ng-template>
</ion-popover>