<div>
	<form [formGroup]="formGroup">
		<ng-container formArrayName="OrderLines">
			<div class="table-contain">
				<app-data-table [rows]="formGroup.get('OrderLines')['controls']" [showSpinner]="pageConfig.showSpinner">
					<datatable-empty-message subMessage="Please click add new to start...">
						<ng-template datatable-empty-message-template>
							<div>
								<ion-button size="small" (click)="addLine({}, true)">
									<ion-icon slot="start" name="add-circle-outline"></ion-icon>
									{{ 'Add product' | translate }}
								</ion-button>
							</div>
						</ng-template>
					</datatable-empty-message>

					<datatable-column class="col-id" name="No." property="#"></datatable-column>

					<datatable-column class="col-name" name="Items" property="value">
						<ng-template let-g="row" datatable-cell-template>
							<app-input-control *ngIf="this._contentType != 'Item'" [field]="{ id: 'Name', label: 'Item', form: g }" (change)="submitData(g)"></app-input-control>
							<app-input-control
								*ngIf="this._contentType == 'Item'"
								[field]="{
									id: 'IDItem',
									label: 'Item',
									type: 'ng-select-item',
									form: g,
									dataSource: g.get('_IDItemDataSource').value,
									bindValue: 'Id',
									bindLabel: 'Name',
									clearable: true,
									placeholder: 'Type to search...',
									appendTo: '#ng-select-table',
								}"
								(change)="IDItemChange($event, g)"
							></app-input-control>
						</ng-template>
					</datatable-column>

					<datatable-column class="col-remark" name="Vendor" property="value" *ngIf="!_IDVendor && _contentType == 'Item'">
						<ng-template let-g="row" datatable-cell-template>
							<app-input-control
								(change)="submitData(g)"
								[field]="{
									id: 'IDVendor',
									label: 'Vendor',
									type: 'ng-select',
									form: g,
									dataSource: g.controls._Vendors.value,
									bindLabel: 'Name',
									bindValue: 'Id',
									clearable: true,
									appendTo: '#ng-select-table',
								}"
							></app-input-control>
						</ng-template>
					</datatable-column>

					<datatable-column class="col-date" name="Required date" property="value">
						<ng-template let-g="row" datatable-cell-template>
							<app-input-control [field]="{ id: 'RequiredDate', type: 'datetime-local', form: g }" (change)="submitData(g)"> </app-input-control>
						</ng-template>
					</datatable-column>

					<datatable-column class="col-code" name="Unit" property="value">
						<ng-template let-g="row" datatable-cell-template>
							<app-input-control
								[field]="{
									id: 'IDItemUoM',
									type: 'ng-select',
									form: g,
									dataSource: g.controls._IDUoMDataSource.value,
									bindLabel: 'Name',
									bindValue: 'Id',
									appendTo: '#ng-select-table',
								}"
								(change)="IDUoMChange(g)"
							></app-input-control>
						</ng-template>
					</datatable-column>

					<datatable-column class="col-number" name="Quantity" property="value">
						<ng-template let-g="row" datatable-cell-template>
							<app-input-control (change)="changeQuantity(g)" [field]="{ id: 'Quantity', type: 'number', form: g }"></app-input-control>
						</ng-template>
					</datatable-column>

					<datatable-column class="col-number" name="Remaining open" property="value">
						<ng-template let-g="row" datatable-cell-template>
							<app-input-control (change)="submitData(g)" [field]="{ id: 'QuantityRemainingOpen', type: 'number', form: g }"></app-input-control>
						</ng-template>
					</datatable-column>

					<datatable-column class="col-number" name="Discount" property="value">
						<ng-template let-g="row" datatable-cell-template>
							<app-input-control (change)="submitData(g)" [field]="{ id: 'TotalDiscount', type: 'number', form: g }"> </app-input-control>
						</ng-template>
					</datatable-column>

					<datatable-column class="col-money" name="Unit price" property="value">
						<ng-template let-g="row" datatable-cell-template>
							<app-input-control (change)="submitData(g)" [field]="{ id: 'UoMPrice', type: 'number', form: g }"> </app-input-control>
						</ng-template>
					</datatable-column>

					<datatable-column class="col-number" name="VAT" property="value">
						<ng-template let-g="row" datatable-cell-template>
							<app-input-control [field]="{ id: 'TaxRate', type: 'number', form: g }"></app-input-control>
						</ng-template>
					</datatable-column>

					<datatable-column class="col-number" name="Total after tax" property="value">
						<ng-template let-g="row" datatable-cell-template>
							<span class="c-input disable">{{
								g.controls.Quantity.value * (g.controls.UoMPrice.value - (g.controls.TotalDiscount.value || 0)) * (1 + g.controls.TaxRate.value / 100)
									| number: '1.0-0'
							}}</span>
						</ng-template>
					</datatable-column>

					<datatable-column *ngIf="_showStatus" class="col-status" name="Status" property="value" filterControlType="ng-select" [filterDataSource]="statusLineList">
						<ng-template let-g="row" datatable-cell-template>
							<ion-badge [color]="g.controls._Status.value?.Color" [title]="g.controls._Status.value?.Name"> {{g.controls._Status.value?.Name | translate}} </ion-badge>
						</ng-template>
					</datatable-column>

					<datatable-column class="col-icon" name="" property="value" *ngIf="_canEdit">
						<ng-template let-idx="idx" datatable-cell-template>
							<ion-icon color="danger" class="min-btn clickable" name="trash-outline" (click)="removeLine(idx)"></ion-icon>
						</ng-template>
					</datatable-column>
					
					
				</app-data-table>
			</div>
		</ng-container>
	</form>
	<div class="table-contain">
		<div class="row" *ngIf="_canEdit">
			<div class="cell">
				<ion-button fill="clear" size="small" (click)="addLine({}, true)">
					<ion-icon slot="start" name="add-circle-outline"></ion-icon>
					{{ 'Add product' | translate }}
				</ion-button>
			</div>
		</div>
	</div>
</div>
