<ion-header>
	<app-toolbar [page]="this">
		<ng-container *ngIf="!pageConfig.showSpinner">
			<ng-container
				*ngIf="
	(pageConfig.ShowCopyToReceipt && pageConfig.canCopyToReceipt) 
	||(pageConfig.ShowRequestOutgoingPayment && pageConfig.canRequestOutgoingPayment) 
	||(pageConfig.canCopyToAPInvoice && pageConfig.ShowCopyToAPInvoice)"
			>
				<ion-button class="clickable" tollbarSelected title="{{'Copy' | translate}}" (click)="presentCopyPopover($event)">
					<ion-icon name="copy-outline" color="primary" slot="icon-only"></ion-icon>
				</ion-button>
				<span class="split">|</span>
			</ng-container>

			<ion-popover #copyPopover [isOpen]="isOpenCopyPopover" (didDismiss)="isOpenCopyPopover = false">
				<ng-template>
					<ion-content scroll-y="false">
						<ion-list lines="none">
							<ion-item
								*ngIf="pageConfig.canCopyToReceipt && pageConfig.ShowCopyToReceipt"
								[button]="true"
								[detail]="false"
								(click)="copyPopover.dismiss() ;copyToReceipt()"
								title="{{'Copy to goods receipt' | translate}}"
							>
								<ion-icon name="clipboard-list" color="success" slot="start"></ion-icon>
								<ion-label> {{'Copy to goods receipt' | translate}}</ion-label>
							</ion-item>

							<ion-item
								title="{{'Copy to A/P invoice' | translate}}"
								*ngIf="pageConfig.ShowCopyToAPInvoice&& pageConfig.canCopyToAPInvoice"
								[button]="true"
								[detail]="false"
								(click)="copyPopover.dismiss() ;createInvoice()"
							>
								<ion-icon name="receipt-outline" color="success" slot="start"></ion-icon>
								<ion-label>{{'Copy to A/P invoice' | translate}}</ion-label>
							</ion-item>

							<ion-item
								title="{{'Copy to outgoing payment' | translate}}"
								*ngIf="pageConfig.ShowRequestOutgoingPayment&& pageConfig.canRequestOutgoingPayment"
								[button]="true"
								[detail]="false"
								(click)="copyPopover.dismiss() ;presentPopover()"
							>
								<ion-icon name="money-check" color="success" slot="start"></ion-icon>
								<ion-label>{{'Copy to outgoing payment' | translate}}</ion-label>
							</ion-item>
						</ion-list>
					</ion-content>
				</ng-template>
			</ion-popover>
			<ion-button *ngIf="pageConfig.ShowSubmitOrders && pageConfig.canSubmitOrders" fill="clear" title="Order submitted" (click)="submitOrders()">
				<ion-icon slot="start" name="cart-outline"></ion-icon>
			</ion-button>
			<ion-button (click)="importClick()" *ngIf="formGroup.controls.Status.value=='Draft' && pageConfig.canEdit" title="{{'Import product' | translate}}">
				<ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
			</ion-button>
			<ion-button (click)="print()" title="{{'Print' | translate}}">
				<ion-icon slot="icon-only" name="print"></ion-icon>
			</ion-button>
		</ng-container>
	</app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div id="ng-select-table" style="position: absolute"></div>
	<div class="main-view safe-max-width" *ngIf="item && pageConfig.showSpinner==false">
		<ion-grid fixed>
			<form [formGroup]="formGroup">
				<ion-row class="hr-group">
					<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Purchase order' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<!-- <div class="c-control" *ngIf="item.Id">
                            <label class="c-label" for="Id"># Id</label>
                            <input class="c-input" id="Id" formControlName="Id" type="number">
                        </div> -->
						<app-form-control
							(change)="saveOrder()"
							[field]="{id: 'IDStorer', label: 'Goods owner', type: 'ng-select', dataSource: storerList , bindLabel: 'Name', bindValue: 'Id', placeholder: 'Search', form: formGroup}"
						>
						</app-form-control>

						<app-form-control
							(change)="changeVendor()"
							[field]="{id: 'IDVendor', label: 'Vendor', type: 'ng-select-bp', dataSource: _vendorDataSource , bindLabel: 'Name', bindValue: 'Id', placeholder: 'Search', form: formGroup}"
						>
						</app-form-control>

						<app-form-control
							(change)="saveOrder()"
							[field]="{branchConfig: {showingType: 'Warehouse', showingMode:'showAll'}, id: 'IDWarehouse', label: 'Warehouse', type: 'ng-select-branch', dataSource: branchList, bindLabel: 'Name', bindValue: 'Id', placeholder: 'Search', form: formGroup}"
						>
						</app-form-control>

						<div class="c-control">
							<label class="c-label" for="TotalAfterTax"
								>{{'Value' | translate}}
								<span
									*ngIf="!formGroup.controls.TotalAfterTax.valid && !formGroup.controls.TotalAfterTax.pending && (formGroup.controls.TotalAfterTax.dirty || submitAttempt)"
									ion-text
									color="danger"
									>(*)</span
								>
							</label>
							<span class="c-input disable">
								<b>{{calcTotalAfterTax() | number: '1.0-0'}}</b>
							</span>
						</div>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control (change)="saveOrder()" [field]="{id: 'Code', label: 'PO code (Vendors)', type: 'text', form: formGroup}">
							<small label *ngIf="item.Id">{{'Id' | translate}}: {{item.Id}}</small>
						</app-form-control>

						<app-form-control (change)="saveOrder()" [field]="{id: 'ExpectedReceiptDate', label: 'Expected receipt date', type: 'datetime-local', form: formGroup}">
						</app-form-control>

						<app-form-control (change)="saveOrder()" [field]="{id: 'OrderDate', label: 'OrderDate', type: 'datetime-local', form: formGroup}">
						</app-form-control>


						
					</ion-col>
				</ion-row>
			</form>
		</ion-grid>

		<div class="row-full shadow full-screen">
			<ion-toolbar color="primary">
				<ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
					<ion-segment-button value="s1">
						<ion-label>{{'Product list' | translate}}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="s2">
						<ion-label>{{'Other information' | translate}}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="s3">
						<ion-label>{{'Payment history' | translate}}</ion-label>
					</ion-segment-button>
				</ion-segment>
			</ion-toolbar>
			<div *ngIf="segmentView == 's1'">
				<app-purchase-order-items
				[_item]="item"
				[page]="this"
				[orderLines]="item.OrderLines"
				[vendorView]="vendorView"
				[_status]="this.formGroup.get('Status').value"
				(renderFormArray)="renderFormArray($event)"
				(onChange)="saveOrder()"
				(removeItem)="removeOrderItem($event)"
				(onConfirmOrder)="confirmOrder()"
				(onShowSaleOrder)="showSaleOrderPickerModal()">
				</app-purchase-order-items>
			</div>
			<div *ngIf="segmentView == 's2'">
				<div class="ion-padding">
					<ion-grid fixed>
						<form [formGroup]="formGroup">
							<ion-row class="hr-group">
								<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
									<ion-list-header class="ion-no-padding">
										<ion-label color="primary">{{'Order information' | translate}}</ion-label>
									</ion-list-header>
								</ion-col>
								<ion-col size="12" size-sm size-xl="4">
									<app-form-control
										(change)="saveOrder();"
										[field]="{ id: 'Code', type: 'text', label: 'PO Code (from Vendor)',form: formGroup }"
									></app-form-control>

									<app-form-control (change)="saveOrder();" [field]="{ id: 'Name', type: 'text', label: 'Name',form: formGroup }"></app-form-control>

									<div class="c-control">
										<label class="c-label" for="Status"
											>{{'Status' | translate}}
											<span
												*ngIf="!formGroup.controls.Status.valid && !formGroup.controls.Status.pending && (formGroup.controls.Status.dirty || submitAttempt)"
												ion-text
												color="danger"
												>(*)</span
											>
										</label>
										<select (change)="saveOrder();" class="c-input c-dropdown" formControlName="Status">
											<option *ngFor="let i of statusList" [value]="i.Code">{{i.Name}}</option>
										</select>
									</div>
									<app-form-control
										[field]="{ id: 'PaymentStatus', type: 'ng-select', label: 'Payment status', dataSource: paymentStatusList, bindValue: 'Code', bindLabel: 'Name', form: formGroup }"
									></app-form-control>

									<!-- <app-form-control
										*ngIf="formGroup.get('SourceType').value && formGroup.get('SourceKey').value "
										[field]="{id: 'SourceKey', type: 'text',
										label: formGroup.get('SourceType').value =='FromPurchaseRequest'?'Purchase request': 'Source'
									, form: formGroup}"
									>
										<small label class="danger"
											><ng-container *ngIf="formGroup.get('SourceType').value =='FromPurchaseRequest'">
												<a
													[ngClass]="{ 'no-check-dirty': noCheckDirty }"
													class="clickable"
													(click)="nav('/purchase-request/' + formGroup.get('SourceKey').value)"
													(mousedown)="$event.stopPropagation()"
													>#{{formGroup.get('SourceKey').value }} <ion-icon name="open-outline"></ion-icon
												></a>
											</ng-container>
										</small>
									</app-form-control> -->

									<app-form-control [field]="{id: 'CreatedBy', type: 'text', label: 'Created by', form: formGroup }"></app-form-control>
									<app-form-control [field]="{id: 'CreatedDate', type: 'span-datetime', label: 'Created date', form: formGroup }"></app-form-control>
									<app-form-control [field]="{id: 'ModifiedBy', type: 'text', label: 'Last modified by', form: formGroup }"></app-form-control>
									<app-form-control [field]="{id: 'ModifiedDate', type: 'span-datetime', label: 'Last modified date', form: formGroup }"></app-form-control>
								</ion-col>
								<ion-col size="12" size-sm size-xl="4">
									<app-form-control
										[field]="{id: 'IDBranch', type: 'branch-breadcrumbs', label: 'Branch', form: formGroup, dataSource: env.branchList }"
									></app-form-control>

									<app-form-control
										(change)="saveOrder();"
										[field]="{id: 'OrderDate', label: 'Order created date', type: 'datetime-local',form: formGroup}"
										(change)="changeDate($event)"
									>
									</app-form-control>
									<app-form-control
										(change)="saveOrder();"
										[field]="{id: 'ExpectedReceiptDate', label: 'Expected receipt date' , type: 'datetime-local',form: formGroup}"
										(change)="changeDate($event)"
									>
									</app-form-control>
									<app-form-control
										(change)="saveOrder();"
										[field]="{id: 'ReceiptedDate', label: 'Receipt date' , type: 'datetime-local',form: formGroup}"
										(change)="changeDate($event)"
									>
									</app-form-control>

									<app-form-control
										*ngIf="formGroup.get('SourceType').value && formGroup.get('SourceKey').value "
										[field]="{id: 'SourceKey', type : 'text', label: 
										item.SourceType == 'FromPurchaseRequest'?'Purchase request' : 
										item.SourceType =='FromPurchaseQuotation'?'Purchase quotation' : 'Source'
										, form : formGroup}"
									>
										<small label class="danger" *ngIf="formGroup.get('SourceType').value">
											<a
												[ngClass]="{ 'no-check-dirty': noCheckDirty }"
												class="clickable"
												(click)="nav(
                      (item.SourceType == 'FromPurchaseRequest'?'/purchase-request/': 
                      item.SourceType =='FromPurchaseQuotation'?'/purchase-quotation/': item.SourceType)
                      + formGroup.get('SourceKey').value)"
												(mousedown)="$event.stopPropagation()"
												>#{{formGroup.get('SourceKey').value }} <ion-icon name="open-outline"></ion-icon
											></a>
										</small>
									</app-form-control>
									<app-form-control [field]="{id: 'Remark', type: 'textarea', label: 'Remark', form: formGroup }" (change)="saveChange()"></app-form-control>
								</ion-col>
							</ion-row>
						</form>
					</ion-grid>
				</div>
			</div>
			<div class="table responsive" *ngIf="segmentView == 's3'">
				<app-data-table
					class="box-shadow responsive"
					*ngIf="paymentDetailList"
					[rows]="paymentDetailList"
					[(selectedRows)]="selectedItems"
					[showSpinner]="showSpinnerPayment"
				>
					<!-- <datatable-column [checkbox]="true"></datatable-column> -->
					<datatable-column class="col-id" name="Id" property="Id">
						<ng-template let-i="row" datatable-cell-template>
							<a [routerLink]="['/outgoing-payment/'+i.Id]">{{i.Id}}</a>
						</ng-template>
					</datatable-column>
					<!-- <datatable-column class="col-name" name="Warehouse" property="WarehouseName">
            <ng-template let-i="row" datatable-cell-template>
              {{i.WarehouseName}}
              <small class="address" *ngIf="i.WarehouseCode">
                <ion-text color="dark">{{i.WarehouseCode}}</ion-text>
              </small>
            </ng-template>
          </datatable-column>
          -->
					<datatable-column class="col-code" filterControlType="text" name="Type" property="Type"> </datatable-column>
					<datatable-column class="col-number" filterControlType="number" name="Amount" property="Amount"> </datatable-column>
					<datatable-column class="col-date" filterControlType="date" name="Posting date" property="PostingDate">
						<ng-template let-i="row" datatable-cell-template> {{i.PostingDate | date: 'dd/MM/yyyy HH: mm'}} </ng-template>
					</datatable-column>
					<datatable-column class="col-date" filterControlType="date" name="Document date" property="DocumentDate">
						<ng-template let-i="row" datatable-cell-template> {{i.DocumentDate | date: 'dd/MM/yyyy HH: mm'}} </ng-template>
					</datatable-column>
					<datatable-column class="col-date" filterControlType="date" name="Due date" property="DueDate">
						<ng-template let-i="row" datatable-cell-template> {{i.DueDate | date: 'dd/MM/yyyy HH: mm'}} </ng-template>
					</datatable-column>
					<!-- <datatable-column class="col-date" filterControlType="date" name="Picked date" property="PickedDate">
            <ng-template let-i="row" datatable-cell-template>
              {{i.PickedDate | date: 'dd/MM/yyyy HH: mm'}}
              </ng-template>
          </datatable-column> -->

					<datatable-column class="col-status" name="Status" property="Status">
						<ng-template let-i="row" datatable-cell-template>
							<ion-badge [color]="i._Status?.Color" [title]="i._Status?.Name"> {{i._Status?.Name}} </ion-badge>
						</ng-template>
					</datatable-column>
				</app-data-table>
			</div>
		</div>
	</div>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	<input class="hide-all" #importfile type="file" accept=".xlsx" (change)="uploadOrderLine($event)" />
	<ion-popover class="w300" #popover [isOpen]="isOpenPopover" (didDismiss)="dismissPopover()">
		<ng-template>
			<ion-content appScrollbarTheme>
				<ion-grid>
					<form [formGroup]="paymentFormGroup" (submit)="dismissPopover(true)">
						<ion-row>
							<ion-col size="12" size-sm size-xl="12">
								<app-form-control
									[field]="{ id: 'PaymentReason', type: 'ng-select', label: 'Reason', dataSource: paymentReasonList, bindValue: 'Code', bindLabel: 'Name', form: paymentFormGroup }"
								></app-form-control>
								<app-form-control
									[field]="{ id: 'PaymentType', type: 'ng-select', label: 'Type', dataSource: paymentTypeList, bindValue: 'Code', bindLabel: 'Name', form: paymentFormGroup }"
								></app-form-control>
								<app-form-control
									[field]="{ id: 'PaymentSubType', type: 'ng-select', label: 'Sub type', dataSource: paymentSubTypeList, bindValue: 'Code', bindLabel: 'Name', form: paymentFormGroup }"
								></app-form-control>
							</ion-col>
						</ion-row>
					</form>
				</ion-grid>
			</ion-content>
			<ion-button class="ion-margin" size="small" expand="block" (click)="dismissPopover(true)">Apply</ion-button>
		</ng-template>
	</ion-popover>

	<ion-modal [isOpen]="isShowReceiptModal" (willDismiss)="onDismissReceiptModal(); ">
		<ng-template>
			<ion-header>
				<ion-toolbar>
					<ion-title>{{'Confirm modal' | translate}}</ion-title>
					<ion-buttons slot="primary">
						<ion-button title="{{'Close' | translate}}" color="secondary" (click)="isShowReceiptModal= false">
							<ion-icon slot="icon-only" name="close"></ion-icon>
						</ion-button>
					</ion-buttons>
				</ion-toolbar>
			</ion-header>
			<ion-content appScrollbarTheme class="scrollx">
				<ion-grid>
					<ion-row>
						<ion-col size="12" size-sm size-xl="6">
							<app-form-control [field]="{id: 'Code', label: 'PO code (Vendors)', type: 'text', form: receiptFormGroup}"> </app-form-control>

							<app-form-control
								[field]="{id: 'ExpectedReceiptDate', label: 'Expected receipt date', type: 'datetime-local', form: receiptFormGroup}"
							></app-form-control>
						</ion-col>
						<ion-col size="12" size-sm size-xl="6">
							<app-form-control
								[field]="{ id: 'IDCarrier', type: 'ng-select', label: 'Carrier', dataSource: carrierList, bindValue: 'Id', bindLabel: 'Name', form: receiptFormGroup }"
							></app-form-control>
							<app-form-control [field]="{ id: 'VehicleNumber', type: 'text', label: 'Vehicle number', form: receiptFormGroup }"></app-form-control>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-content>
			<ion-footer>
				<div class="ion-padding">
					<ion-button color="primary" (click)="onDismissReceiptModal(true)" expand="block">{{'Confirm' | translate}}</ion-button>
				</div>
			</ion-footer>
		</ng-template>
	</ion-modal>
</ion-content>
